@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../vendors/bootstrap-4.5.2-dist/css/bootstrap.min.css";
@import "./components/fonts.css";
@import "./components/base.css";
@import "./components/dropdown.css";
@import "./components/mixins.css";
@import "./components/lateral.css";
@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/table.css";
@import "./components/nice-radio.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/presentation-text.css";
@import "./components/dash-box.css";
@import "./components/dash-info.css";
@import "./components/internal-header.css";
@import "./components/filter-bar.css";
@import "./components/accordion.css";
@import "./components/term-text.css";
@import "./components/pages.css";