html,
body {
    width: 100%;
    height: 100%;
    background: #111;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: "Rubik";
    font-weight: normal;
    font-style: normal;
}

img {
    display: block;
    margin: 0;
    width: auto;
    max-width: 100%;
}

ul,
ol,
li {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
}
button:focus,
button:hover,
button:active {
    border-color: transparent;
    outline: none;
}

canvas {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #ff00ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff00ff;
}

#particles-js {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #0f4188;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#root {
    position: relative;
    z-index: 1;
}

main {
    min-height: calc(100vh - 60px);
}
main.container.d-flex > .full-row {
    margin: 3rem 0;
}
main.container.d-flex.align-items-start > .full-row {
    margin-top: 10%;
}

.box-shadow {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
}

.container.d-flex > .full-row {
    width: 100%;
}

.no-margin-top {
    margin-top: 0 !important;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.text-legal {
    font-size: .8rem;
    line-height: 1rem;
    color: #646464;
}

.font-size-dot9rem {
    font-size: .9rem;
}

.fig-qr-code {
    background-color: #fff;
    padding: 1rem;
    display: inline-block;
    border-radius: .3rem;
}

.nice-scrollbar {
    overflow: auto;
    width: 100%;
}
.nice-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.nice-scrollbar::-webkit-scrollbar-track {
    background: #d1d1d1;
}
.nice-scrollbar::-webkit-scrollbar-thumb {
    background: #707070;
}


.show-992 {
    display: none !important;
}

@media (max-width: 992px) {
    .hide-992 {
        display: none !important;
    }
    .show-992 {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .block-768 {
        display: block;
    }
}