.form-default h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #00437f;
    font-weight: bold;
    margin-bottom: .5rem;
}
.form-default fieldset {
    margin-bottom: 1rem;
}
.form-default fieldset:last-child {
    margin-bottom: 0;
}
.form-default .input-group-text {
    background-color: #bdbdbd;
    color: #fff;
    border-color: #bdbdbd;
}
.form-default .form-control {
    border-color: #bdbdbd;
}
.form-default label {
    color: #5b5b5b;
    margin-bottom: .25rem;
}
.form-default a {
    color: #009eea !important;
}
.form-default .input-digit .form-control:last-child {
    max-width: 25%;
}
.form-default .form-action {
    margin-top: 28px;
}
.form-default  .form-group {
    margin-bottom: 1rem;
}
.form-default .row {
    margin-right: -5px;
    margin-left: -5px;
}
.form-default .row > div {
    padding-right: 10px;
    padding-left: 10px;
}
.form-default .fig-qr-code {
    margin-top: 1rem;
}

.field-info {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #fff;
    background-color: #bdbdbd;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: .25rem;
    position: relative;
}
.field-info span {
    display: block;
}
.field-info .d-inline-block {
    vertical-align: middle;
}
.field-info span:last-child {
    margin-bottom: 0;
}
.field-info .info {
    vertical-align: middle;
    margin-right: 1rem;
}
.field-info .info:last-child {
    margin-right: 0;
}
.field-info a {
    color: #009eea !important;
    font-size: 0.9rem;
    line-height: 0.75rem;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 9px;

}

.bank-info {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #646464;
    margin-bottom: 0 !important;
}
.bank-info li {
    margin-bottom: .75rem;
}
.bank-info li:last-child {
    margin-bottom: 0;
}

.field-copy {
    position: relative;
    width: 100%;
}
.field-copy .form-control {
    padding-right: 45px;
    resize: none;
    min-height: 38px;
    line-height: 1rem;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.field-copy i {
    color: #04d5df;
}
.field-copy i.icon-done {
    display: none;
}
.field-copy.copied i.icon-done {
    display: block;
}
.field-copy.copied i.icon-copy {
    display: none;
}
.field-copy-icon {
    position: absolute;
    display: inline-block;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

@media (max-width: 768px) {
    .form-default .form-action {
        margin-top: 0;
    }
    .field-info a {
        position: static;
    }
}

@media (max-width: 450px) {
    .bank-info li b {
        display: block;
        margin-bottom: .3rem;
    }
}

@media (max-width: 380px) {
    .form-check-label.terms {
        font-size: .8rem;
    }
}