.page-dashboard main > .full-row {
    min-width: 640px;
}
.page-dashboard .card .card .card-body {
    min-height: 175px;
    position: relative;
}
.page-dashboard .card .card .card-body .action {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1rem;
}
.page-dashboard .card.card-gray {
    min-height: 462px;
}

.page-contato .accordion-wrap {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .page-dashboard .card-gray {
        margin-bottom: 30px;
    }
    .page-dashboard main.container.d-flex > .full-row {
        margin-bottom: 0;
    }

    .page-contato .card-gray:first-child {
        margin-bottom: 2rem;
    }
    .page-contato .accordion-wrap {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .page-home .top-menu a,
    .page-home .top-menu button {
        font-size: .8rem;
    }
    .page-home .top-menu li {
        margin-left: 1rem;
    }

    .page-internal main.container {
        padding: 0;
    }
}

@media (max-width: 768px) and (max-height: 600px) {
    .page-home main {
        display: block !important;
    }
}

@media (max-width: 700px) {
    .page-dashboard main {
        overflow: auto;
        justify-content: flex-start !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 650px;
    }
    .page-dashboard main > .full-row {
        justify-content: flex-start !important;
    }
}