.wrap-table {
    width: 100%;
    color: #4c4c4c;
}

table {
    width: 100%;
    font-size: 14px;
}
table.small-table {
    min-width: auto !important;
}

.table {
    background-color: #fff;
    font-size: 14px;
    color: #4c4c4c;
    border-radius: .25rem;
}
.table td, .table th {
    border-top: none;
    border-bottom: 1px solid #ebeaea;
    vertical-align: middle;
}
.table th {
    font-weight: 500;
}
.table thead th {
    border-bottom: solid 1px #ebeaea;
}

.table .label-status {
    font-size: 13px;
}

.table-action {
    padding: 1rem 0;
    text-align: center;
}
.table-action > button {
    width: 100%;
    max-width: 300px;
}
.table .label-status {
    margin-top: -5px
}

.mobile-th {
    display: none;
}

.receipt-pointer {
    cursor: pointer
}


.label-status {
    display: inline-block !important;
    color: #707070;
    position: relative;
    padding-left: 15px;
}
.label-status::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #707070;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 5px;
}
.label-status.approved {
    color: #93C91E;
}
.label-status.approved::before {
    background-color: #93C91E;
}
.label-status.pending {
    color: #FFA70F;
}
.label-status.pending::before {
    background-color: #FFA70F;
}
.label-status.denied,
.label-status.reproved {
    color: #ff5656;
}
.label-status.denied::before, 
.label-status.reproved::before {
    background-color: #ff5656;
}

@media (max-width: 992px) {
    .mobile-table,
    .mobile-table tr,
    .mobile-table td,
    .mobile-table th {
        display: block;
        width: 100%;
        min-width: auto !important;
        border-bottom: none;
    }
    .mobile-table thead {
        display: none;
    }
    .mobile-table tbody {
        display: block;
        width: 100%;
    }
    .mobile-table tr {
        width: 100%;
        border-bottom: solid 1px #ebeaea;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .mobile-table td {
        padding: 0;
        margin-bottom: .25rem;
    }
    .mobile-table .label-status {
        display: inline-block;
        position: relative;
        padding-left: 15px;
        vertical-align: middle;
    }
    .mobile-table .label-status::before {
        position: absolute;
        top: 5px;
        left: 0;
    }

    .mobile-th {
        display: inline-block;
        min-width: 100px;
        font-weight: 500;
        vertical-align: middle;
    }
}