@font-face {
    font-family: 'FuturaStdMedium';
    src: url('../fonts/FuturaStdMedium.eot');
    src: url('../fonts/FuturaStdMedium.eot') format('embedded-opentype'),
         url('../fonts/FuturaStdMedium.woff2') format('woff2'),
         url('../fonts/FuturaStdMedium.woff') format('woff'),
         url('../fonts/FuturaStdMedium.ttf') format('truetype'),
         url('../fonts/FuturaStdMedium.svg#FuturaStdMedium') format('svg');
}

@font-face {
    font-family: 'FuturaStdLight';
    src: url('../fonts/FuturaStdLight.eot');
    src: url('../fonts/FuturaStdLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaStdLight.woff2') format('woff2'),
         url('../fonts/FuturaStdLight.woff') format('woff'),
         url('../fonts/FuturaStdLight.ttf') format('truetype'),
         url('../fonts/FuturaStdLight.svg#FuturaStdLight') format('svg');
}

@font-face {
    font-family: 'FuturaStdBold';
    src: url('../fonts/FuturaStdBold.eot');
    src: url('../fonts/FuturaStdBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaStdBold.woff2') format('woff2'),
         url('../fonts/FuturaStdBold.woff') format('woff'),
         url('../fonts/FuturaStdBold.ttf') format('truetype'),
         url('../fonts/FuturaStdBold.svg#FuturaStdBold') format('svg');
}