.show-768{
	display: none;
}

@media (max-width: 768px){
	.hide-768{
		display: none !important;
	}
	.show-768{
		display: block;
	}



	.icon{
		&.i-menu{
			background-position: sprite-position($icons, i-menu-mbl);
			@include sprite-dimensions($icons, i-menu-mbl);
		}
	}




	.title-main{
		font-size: 22px;
		line-height: 22px;
	}
	.text-banner{
		h1{
			font-size: 26px;
			line-height: 28px;
		}
		h2{
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 25px;
		}
		.btn-default{
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			border-width: 1px;
			padding: 0 30px;
		}
	}
	.text-about{
		.title-main{
			margin-bottom: 40px;
		}
		figure{
			margin-bottom: 25px;
		}
		p{
			font-size: 16px;
		}
	}




	.top-logo{
		max-width: 40px;
	}
	.ul-social{
		margin-top: 2px;
	}
	.header-content{
		padding-top: 10px !important;
		padding-left: 10px;
		padding-right: 10px;
	}

	
	.ul-menu{
		font-size: 16px;

		li{
			margin-bottom: 14px;
		}
	}
	.menu-content{
		padding-top: 10px;
		padding-right: 15px;

		.ul-menu{
			margin-bottom: 40px;
			padding-top: 40px;
		}
	}
	
	.figure-circle{
		width: 150px;
		height: 150px;
	}

	.testimony-box{
		.figure-circle{
			width: 65px;
			height: 65px;
		}
		p{
			font-size: 20px;
			line-height: 28px;
		}
		.who-testimony{
			margin-bottom: 25px;
		}
	}

	.foot-content{
		>span{
			&.email{
				font-size: 20px;
				line-height: 20px;
				margin-bottom: 8px;
			}
			&.phone{
				font-size: 18px;
				line-height: 18px;
				margin-bottom: 25px;
			}
		}
	}




	.slick-testimony-navigation{
		position: static;
		padding-top: 40px;

		.btn-arrow{
			background: #2d3c6c;

			&:hover, &:active{
				background: #99b4df;
			}
		}

	}






	.sct-menu{
		width: 80%;
		left: -81%;
	}

	.sct-header{
		&.scrolled{
			height: 45px;
		}
	}

	.sct-banner{
		min-height: auto !important;
		height: 400px;
	}

	.sct-about{
		>.container{
			padding-top: 75px;
			padding-bottom: 75px;
		}
		.text-about{
			.text{
				padding: 0 15px;
			}
		}
	}

	.sct-skills{
		min-height: auto !important;
		padding-top: 60px;
		padding-bottom: 65px;

		.center-child{
			position: static !important;
		}
		.title-main{
			margin-bottom: 50px;
		}
	}

	.sct-testimonials{
		min-height: auto !important;
		padding-top: 70px;
		padding-bottom: 80px;

		.title-main{
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 40px;
		}
	}

	.sct-cases{
		min-height: auto !important;

		> .container{
			padding-top: 70px;
			padding-bottom: 50px;
		}
		.row-cases{
			background: #fff;
		}
		.title-main{
			margin-bottom: 40px;
		}
	}

	.sct-footer{
		border-top-width: 5px;
		padding: 65px 0 90px 0;
	}
}