.show-max530{
	display: none;
}

@media (max-width: 530px){
	.hide-max530{
		display: none;
	}
	.show-max530{
		display: block;
	}

	.title-main{
		margin-right: -15px;
		margin-left: -15px;
	}
	.text-about{
		p{
			a{
				display: block;
			}
		}
	}
}